{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.success %} class="{{ message.success }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Send</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}