{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <p><a href="{% url 'books:create_book' %}">Create New Book</a></p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Authors</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.pk }}</th>
                        <th>{{ book.title }}</th>
                        <th>{{ book.authors_info }}</th>
                        <th>{{ book.isbn }}</th>
                        <th>{{ book.price }}</th>
                        <th><a href="{% url 'books:edit_book' pk=book.pk %}">Edit Book</a></th>
                        <th><a href="{% url 'admin:bookstore_book_change' object_id=book.pk %}">Admin Edit Book</a></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"
                           {% if books.has_previous %}href="{% url 'main_page' %}?page={{ books.previous_page_number }}"{% endif %}>Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           {% if books.has_next %}href="{% url 'main_page' %}?page={{ books.next_page_number }}"{% endif %}>Next</a>
                    </li>
                </ul>
            </nav>

            <table>
                <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">URI</th>
                    <th scope="col">Method</th>
                    <th scope="col">Status Code</th>
                    <th scope="col">User Agent</th>
                    <th scope="col">Remote Address</th>
                </tr>
                </thead>
                <tbody>
                {% for web_request in web_requests %}
                    <tr>
                        <th scope="row">{{ web_request.time|date:"Y-m-d" }}</th>
                        <th>{{ web_request.uri }}</th>
                        <th>{{ web_request.method }}</th>
                        <th>{{ web_request.status_code }}</th>
                        <th>{{ web_request.user_agent }}</th>
                        <th>{{ web_request.remote_addr }}</th>
                        <th></th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}